* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
}

.menu ul,
.menu li {
  font-size: 16px;
}

.sidebar {
  background-color: #C50208;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  background-color: #C50208;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  background-color: #bccbde;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}

/* my solution */

.container {
  display: grid;
  min-height: 100vh;
  grid-template: "header header" auto
                  "sidebar nav" auto
                  "sidebar article" 5fr
                  "footer footer" auto 
                  / 1fr 5fr;
  gap: 3px;
}

.header {
  grid-area: header;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: baseline;
}
.menu {
  width: 65vw;
}
ul {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: max-content;  
  gap: 55px;
  list-style: none;
  justify-content: space-around;
}
.sidebar {
  grid-area: sidebar;
  display: grid;
  gap: 45px;
}
.article {
  grid-area: article;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  
  gap: 15px;
}
.nav {
  grid-area: nav;
}
.footer {
  grid-area: footer;
}